body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.notification {
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
}

.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}

.login-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #45a049;
}

.forgot-password {
    text-align: center;
}

.social-login {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.social-btn {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    cursor: pointer;
}

.register {
    text-align: center;
}

.notification.success {
    background-color: green;
}

.notification-error {
    background-color: #f8d7da; /* Светло-красный фон */
    color: #721c24; /* Темно-красный текст */
    border: 1px solid #f5c6cb; /* Красная граница */
}

.notification-info {
    background-color: #d1ecf1; /* Светло-голубой фон */
    color: #0c5460; /* Темно-голубой текст */
    border: 1px solid #bee5eb; /* Голубая граница */
}

.notification-success {
    background-color: #d4edda; /* Светло-зеленый фон */
    color: green; /* Темно-зеленый текст */
    border: 1px solid #c3e6cb; /* Зеленая граница */
}

.messages {
    list-style-type: none; /* Убирает маркеры списка */
    padding: 0; /* Убирает отступы */
    margin: 0; /* Убирает внешние отступы */
}

/* Стили для списка сообщений */
.messages li {
    margin: 5px 0; /* Отступы между сообщениями */
}