{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/products/products.css' %}">
{% endblock %}
{% block title %}
    <title>{{ title }}</title>
{% endblock %}
{% block content %}
    <nav class="category-nav">
        <a href="{% url 'products:index' %}"
           class="category-button">Все категории</a>
        {% for category in visible_categories %}
            <a href="{% url 'products:product_by_category' category.id %}"
               class="category-button">{{ category.name }}</a>
        {% endfor %}
    </nav>

    <main class="white-background">
        <section class="product-list">
            {% for product in object_list %}
                <div class="product-card">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.description }}</p>
                    <p class="price">Цена: {{ product.price }} Р.</p>
                    <a href="{% url 'products:basket_add' product.id %}"
                        class="buy-button">Купить</a>
                </div>
            {% endfor %}
        </section>

        <div class="pagination">
            <span class="step-links">
                {% for paginated_products_page in page_obj.paginator.page_range %}
                    {% if paginated_products_page == page_obj.number %}
                        <span class="current">
                            {{ page_obj.number }}
                        </span>
                    {% else %}
                        <a href="?page={{ paginated_products_page }}">{{ paginated_products_page }}</a>
                    {% endif %}
                {% endfor %}
            </span>
        </div>
    </main>
{% endblock %}