{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/users/email_verification.css' %}">
    <title>Подтверждение электронной почты</title>
</head>
<body>
<div class="verification-container">
    <h1>Поздравляем</h1>
    <p>Ваша учетная запись успешно подтверждена!</p>
    <button onclick="continueShopping()">Продолжить</button>
</div>

<script>
    function continueShopping() {
        window.location.href = "{% url 'index' %}";
    }
</script>
</body>
</html>