{% load socialaccount %}

{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/users/login.css' %}">
    <title>{{ title }}</title>
</head>
<body>
<div class="container">
    {% if messages or form.non_field_errors %}
        <div class="notification notification-{% if messages %}success{% else %}error{% endif %}">
            <ul class="messages">
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% else %}
                    {{ form.non_field_errors }}
                {% endif %}
            </ul>
        </div>
    {% endif %}

    <form class="login-form" action="{% url 'users:login' %}" method="post" class="form">
        {% csrf_token %}
        <label for="username">Логин:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Авторизация</button>

        <div class="forgot-password">
            <a href="#">Забыли пароль?</a>
        </div>
        <div class="social-login">
            <button class="social-btn google">Google</button>
            <button class="social-btn vk">VK</button>
            <button class="social-btn github">GitHub</button>
            <a href="{% provider_login_url "github" %}">Log in with GitHub</a>
        </div>

        <div class="register">
            <span>Нужен аккаунт? </span><a href="{% url 'users:registration' %}">Зарегистрируйся!</a>
        </div>
    </form>
</div>

<script>
    const closeBtn = document.querySelector('.close-btn');
    const notification = document.querySelector('.notification');

    closeBtn.addEventListener('click', () => {
        notification.style.display = 'none';
    });
</script>
</body>
</html>
