{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Восстановление пароля</title>
    <link rel="stylesheet" href="{% static 'css/users/password_reset_form.css' %}">
</head>
<body>
    <div class="password-recovery-container">
        <p class="instruction">Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.</p>

        <form method="post" class="recovery-form">{% csrf_token %}
            <div class="form-group">
                {{ form.email.errors }}
                <div class="email-field">
                    <label for="id_email">Адрес электронной почты:</label>
                    {{ form.email }}
                </div>
            </div>
            <div class="submit-group">
                <input type="submit" value="Восстановить пароль" class="submit-button">
            </div>
        </form>
    </div>
</body>
</html>
