{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Восстановление пароля</title>
    <link rel="stylesheet" href="{% static 'css/users/password_reset_done.css' %}">
</head>
<body>
    <div class="profile-container">
        <p>Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.</p>

        <p>Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес, с которым вы зарегистрировались, и проверьте папку со спамом.</p>
    </div>
</body>
</html>
