{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс пароля</title>
    <link rel="stylesheet" href="{% static 'css/users/password_reset_confirm.css' %}">
</head>
<body>

<div class="profile-container">
    {% if validlink %}

        <p>Пожалуйста, введите ваш новый пароль дважды, чтобы мы могли проверить, что вы ввели его правильно.</p>

        <form method="post">{% csrf_token %}

            <input type="hidden" autocomplete="username" value="{{ form.user.get_username }}">

            <div class="info-item">
                {{ form.new_password1.errors }}
                <label for="id_new_password1">Новый пароль:</label>
                {{ form.new_password1 }}
            </div>

            <div class="info-item">
                {{ form.new_password2.errors }}
                <label for="id_new_password2">Подтвердите пароль:</label>
                {{ form.new_password2 }}
            </div>

            <input type="submit" class="save-button" value="Изменить мой пароль">
        </form>

    {% else %}

        <p>Ссылка для сброса пароля была недействительна, возможно, потому что она уже была использована. Пожалуйста,
            запросите новый сброс пароля.</p>

    {% endif %}
</div>

</body>
</html>
