{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/users/profile.css' %}">
{% endblock %}
{% block content %}
    <div class="profile-container">
        <div class="avatar-section">
            <img src="default-avatar.png" alt="Avatar" class="avatar" id="avatar">
            <input type="file" id="upload-avatar" class="upload-avatar" accept="image/*">
        </div>

        <div class="user-info">
            <div class="info-item">
                <label for="name">Имя:</label>
                <input type="text" id="name" value="Имя пользователя" class="editable"/>
            </div>

            <div class="info-item">
                <label for="username">Имя пользователя:</label>
                <input type="text" id="username" value="Имя пользователя" class="read-only" disabled/>
            </div>

            <div class="info-item">
                <label for="email">Почта:</label>
                <input type="email" id="email" value="email@example.com" class="read-only" disabled/>
            </div>

            <button class="save-button">Сохранить изменения</button>
        </div>

        <div class="cart-section">
            <h2>Корзина</h2>
            <div class="cart-item">
                <span>Товар 1</span>
                <span class="item-price">100₽</span>
                <button class="remove-button">Удалить</button>
            </div>
            <div class="cart-item">
                <span>Товар 2</span>
                <span class="item-price">200₽</span>
                <button class="remove-button">Удалить</button>
            </div>

            <div class="cart-total">
                <span>Итого: </span>
                <span class="total-price">300₽</span>
            </div>

            <button class="checkout-button">Оформить заказ</button>
        </div>
    </div>
{% endblock %}
