{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/users/register.css' %}">
    <title>Регистрация</title>
</head>
<body>
<div class="registration-form">
    {% if form.errors %}
        <div class="notification" id="notification">
            <span class="close-btn" onclick="closeNotification()">×</span>
            <ul>
                {% for field, errors in form.errors.items %}
                    <li>{{ errors|join:", " }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <h2>Создать аккаунт</h2>
    <form action="{% url 'users:registration' %}" method="post" class="form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.username.label }} {{ form.username }}<br>
        </div>
        <div class="form-group">
            {{ form.email.label }} {{ form.email }}<br>
        </div>
        <div class="form-group">
            {{ form.password1.label }} {{ form.password1 }}<br>
        </div>
        <div class="form-group">
            {{ form.password2.label }} {{ form.password2 }}<br>
        </div>
        <button type="submit" class="btn">Создать аккаунт</button>
    </form>
    <p>Уже есть аккаунт? <a href="{% url 'users:login' %}">Авторизоваться</a></p>
</div>


<script>
    function closeNotification() {
        document.getElementById("notification").style.display = "none";
    }
</script>
</body>
</html>
